<?php

namespace App\MyCompany\Repositories;

use Doctrine\DBAL\Connection;

class ExampleRepository extends AbstractRepository
{
    /**
     * Imagining a Query String Like This: ?name=dolor&name=Atención&id=1&id=2&country=RUS&country=ESP
     */
    public function getList($search)
    {
        $params = $search->getParams();
        $this->query = $this->getEntityManager()
            ->createQueryBuilder()
            ->select('pb')
            ->from('App\MyCompany\Entities\ProductBase', 'pb')
            ->innerJoin('App\MyCompany\Entities\ProductSource',
                'ps', 'WITH', 'pb.productSource = ps.id')
            ->innerJoin('App\MyCompany\Entities\Products',
                'pv', 'WITH', 'ps.productosVersion = pv.id')
            ->leftJoin('App\MyCompany\Entities\ProductHead',
                'ph', 'WITH', 'pb.productHead = ph.id')
            ->leftJoin('App\MyCompany\Entities\BranchOffice',
                'bo', 'WITH', 'ph.branchOffice = bo.id')

            ->where('pb.deletedAt IS NULL');

        $this->andLikeOr($params, 'name', ['pb.name', 'pv.nombre']);
        $this->andEqOr($params, 'id','pb.id');
        $this->andEqOr($params, 'country','bo.countryCode');
        $this->andEqOr($params, 'type','pb.typeSourceProductCode');
        $this->addOrderBy($orderBy, $orderByOrder);
        $this->addRange($range);

        return $this->query->getQuery()->getResult();
    }
}
